html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.site-container {
	max-width: 1200px;
	margin: auto;
}

@font-face {
	font-family: Futura;
	src: url("../fonts/Futura.ttf");
}

body {
	font-family: 'Lato', sans-serif;
	background-image: url("../img/parchment.png");
	background-attachment: fixed;
}

h1 {
	font-family: Futura;
	font-size: 40px;
	color: #004a80;
	text-shadow: 1px 1px 1px #636363;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: Futura;
	font-size: 30px;
	color: #d62722;
	padding: 0;
	margin: 0;
}

h4 {
	margin: 10px 0 0 0;
	padding: 0;
	color: #d62722;
}

h5 {
	margin: 40px 0 0 0;
	padding: 0;
	color: #818181;
}

p {
	line-height: 23px;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 100%;
	margin: auto;
}

@media (min-width: 300px) {
	#wrapper {
		background-image: none;
	}
}

/* HEADER */

header {
	margin: 0 auto;
}

/* LOGO */

#logo {
	max-width: 400px;
	margin: auto;
}

#logo img {
	width: 100%;
	margin: 20px 0;
}

@media (min-width: 300px) {
	#logo {
		width: 50%;
	}
}

/* NAVIGATION */

nav {
	width: 100%;
	margin: auto;
	background-color: #004a80;
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	display: block;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-family: Futura;
	color: #ffffff;
	border: none;
}

nav a:hover {
	text-decoration: none;
	color: #dabd88;
}

/* HOME PAGE */

#hero {
	margin-bottom: 50px;
}

#hero img {
	width: 100%;
}

@media (min-width: 300px) {
	#hero {
		width: 100%;
	}
}

#about,
#menu {
	max-width: 1000px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #ffffff;
	padding: 20px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-webkit-box-shadow: 2px 3px 4px 2px #a6a6a6;
	box-shadow: 2px 3px 4px 2px #a6a6a6;
}

#happyhour,
#giftcards,
#contact {
	max-width: 350px;
	margin: auto;
	margin-bottom: 20px;
	background-color: #ffffff;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-webkit-box-shadow: 2px 3px 4px 2px #a6a6a6;
	box-shadow: 2px 3px 4px 2px #a6a6a6;
	overflow: hidden;
}

#links {
	color: #35a6f8;
}

#links a:hover {
	font-style: italic;
}

#links a:visited {
	color: #35a6f8;
}

.snapshot {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 12px 12px 0 0;
	border-radius: 12px 12px 0 0;
}

.snapshot img {
	width: 100%;
}

@media (min-width: 300px) {
	#about,
	#happyhour,
	#giftcards,
	#contact {
		text-align: center;
		width: 85%;
	}
	.snapshot {
		width: 100%;
	}
}

/* MENU PAGE */

#menu {
	margin-top: 30px;
}

#menu h1 {
	text-align: center;
	margin-top: 30px;
}

#menu h5 {
	margin-bottom: 7px;
}

#menu article {
	max-width: 900px;
	margin: auto;
}

#menu p {
	font-style: italic;
	margin: 0;
}

@media (min-width: 300px) {
	#menu {
		width: 85%;
	}
	#menu h5 {
		font-size: 14px;
	}
	#menu p {
		font-size: 12px;
		line-height: 17px;
	}
}


/* FOOTER */

footer {
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px 0 20px 0;
	font-family: 'Lato', sans-serif;
	background-color: #004a80;
	clear: both;
}

footer p {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
