html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.site-container {
	max-width: 1200px;
	margin: auto;
}

@font-face {
	font-family: Futura;
	src: url("../fonts/Futura.ttf");
}

body {
	font-family: 'Lato', sans-serif;
	background-image: url("../img/parchment.png");
	background-attachment: fixed;
}

h1 {
	font-family: Futura;
	font-size: 40px;
	color: #004a80;
	text-shadow: 1px 1px 1px #636363;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: Futura;
	color: #d62722;
	padding: 0;
	margin: 0;
}

h3,
h4 {
	margin: 10px 0 0 0;
	padding: 0;
	color: #d62722;
}

h5 {
	margin: 40px 0 0 0;
	padding: 0;
	color: #818181;
}

p {
	line-height: 23px;
}

a {
	text-decoration: none;
}

@media (min-width: 300px) {
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 25px;
	}
	p {
		font-size: 15px;
	}
}

@media (min-width: 600px) {
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 30px;
	}
	p {
		font-size: 17px;
	}
}

@media (min-width: 300px) {
	#wrapper {
		background-image: none;
	}
}

@media (min-width: 700px) {
	#wrapper {
		background-image: url("../img/eiffel_tower.png");
		background-repeat: no-repeat;
		background-position: bottom right;
	}
}

/* HEADER */

header {
	margin: 0 auto;
}

/* LOGO */

#logo {
	max-width: 400px;
	margin: auto;
}

#logo img {
	width: 100%;
	margin: 20px 0;
}

@media (min-width: 300px) {
	#logo {
		width: 50%;
	}
}

@media (min-width: 900px) {
	#logo img {
		width: 100%;
	}
}

/* NAVIGATION */

nav {
	width: 100%;
	margin: auto;
	background-color: #004a80;
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	display: block;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-family: Futura;
	color: #ffffff;
	border: none;
}

nav a:hover {
	text-decoration: none;
	color: #dabd88;
}

@media (min-width: 300px) {
	nav li {
		padding: 0;
	}
}

@media (min-width: 600px) {
	nav li {
		width: 20%;
		display: inline-block;
		padding: 10px 0;

	}
}


/* HOME PAGE */

#hero {
	margin-bottom: 50px;
}

#hero img {
	width: 100%;
}

@media (min-width: 300px) {
	#hero {
		width: 100%;
	}
}

#about,
#menu,
#happyhour,
#contact,
#online,
#traditional {
	max-width: 1000px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #ffffff;
	padding: 20px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-webkit-box-shadow: 2px 3px 4px 2px #a6a6a6;
	box-shadow: 2px 3px 4px 2px #a6a6a6;
}

.grid {
	max-width: 350px;
	margin: auto;
	margin-bottom: 20px;
	background-color: #ffffff;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	-webkit-box-shadow: 2px 3px 4px 2px #a6a6a6;
	box-shadow: 2px 3px 4px 2px #a6a6a6;
	overflow: hidden;
}

.links a,
.links a:visited {
	color: #35a6f8;
}

.links a:hover {
	font-style: italic;
}

.snapshot {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 12px 12px 0 0;
	border-radius: 12px 12px 0 0;
}

.snapshot img {
	width: 100%;
}

@media (min-width: 300px) {
	#about,
	.grid {
		text-align: center;
		width: 85%;
	}
	.snapshot {
		width: 100%;
	}
}

@media (min-width: 900px) {
	#about p {
		text-align: left;
	}
	.grid {
		width: calc(100% / 3.25);
		float: left;
		margin: 0 16px;
		margin-bottom: 50px;
	}
	.grid h2 {
		font-size: 23px;
	}
	#three-columns {
		width: 85%;
		margin: auto;
	}
	#quicklinks article .grid:first-child {
		margin-left: 0;
	}

	#quicklinks article .grid:last-child {
		margin-right: 0;
	}
}

/* MENU PAGE */

#menu {
	margin-top: 30px;
}

#menu h1 {
	text-align: center;
	margin-top: 30px;
}

#menu h5 {
	margin-bottom: 7px;
}

#menu article {
	max-width: 900px;
	margin: auto;
}

#menu p {
	font-style: italic;
	margin: 0;
}

.chefs-choice img,
#remy img {
	width: 100%;
}

#one {
	margin-top: 40px;
}

#two {
	margin-top: 20px;
}

#three,
#four {
	margin-top: 30px;
}

.footnote {
	clear: right;
	padding-top: 80px;
}

@media (min-width: 300px) {
	#menu {
		width: 85%;
	}
	#menu h5 {
		font-size: 14px;
	}
	.chefs-choice {
		width: 15%;
		float: right;
		padding-top: 20px;
	}
	#remy {
		width: 15%;
		float: left;
		margin-top: 30px;
	}
}

@media (min-width: 600px) {
	#menu h5 {
		font-size: 16px;
	}
	.chefs-choice {
		width: 9%;
		float: right;
		padding-top: 7px;
	}
	#two,
	#three,
	#four {
		margin-top: 40px;
	}
	#remy {
		width: 9%;
		float: left;
		margin-top: 30px;
	}
}

@media (min-width: 900px) {
	#menu h5 {
		font-size: 18px;
	}
	.chefs-choice {
		width: 6%;
		float: right;
		padding-top: 0;
		margin-right: 50px;
	}
	#two {
		margin-right: 200px;
	}
	#remy {
		width: 6%;
		float: left;
		margin-top: 30px;
	}
}

/* HAPPY HOUR PAGE */

#happyhour {
	margin-top: 30px;
}

@media (min-width: 300px) {
	#happyhour {
		text-align: center;
		width: 85%;
	}
}

@media (min-width: 600px) {
	#calendar h5 {
		font-size: 20px;
		margin-bottom: -12px;
	}
}

@media (min-width: 900px) {
	#calendar h5 {
		font-size: 25px;
	}
}

/* CONTACT PAGE */

#contact {
	margin-top: 30px;
}

#contact h3 {
	margin: 35px 0 0 0;
	padding: 0;
}

#contact p {
	margin: 3px 0;
	text-align: left;
}

#la,
#sd {
	width: 85%;
	margin: auto;
}

#reservations p {
	text-align: center;
	margin-bottom: 30px;
}

#front img {
	width: 100%;
}

@media (min-width: 300px) {
	#contact {
		text-align: center;
		width: 85%;
	}
	#la,
	#sd {
		font-size: 14px;
	}
	#la p,
	#sd p {
		text-align: center;
	}
	#sd {
		margin-bottom: 20px;
	}
	#social,
	#reservations {
		width: 85%;
		margin: auto;
	}
	#social img {
		width: 18%;
		margin: 5px;
	}
	#front {
		width: 85%;
		margin: auto;
		margin-top: 20px;
	}
}

@media (min-width: 500px) {
	#social {
		width: 45%;
	}
}

@media (min-width: 600px) {
	#la,
	#sd {
		font-size: 16px;
	}
	#social {
		width: 55%;
	}
}

@media (min-width: 700px) {
	#social {
		width: 45%;
	}

	#front {
		width: 60%;
	}
}

@media (min-width: 1000px) {
	#social {
		width: 30%;
	}
}

@media (min-width: 900px) {
	#locations {
		width: 60%;
		margin: auto;
	}
	#locations h3,
	#locations p {
		text-align: left;
	}
	#locations p {
		font-size: 21px;
		line-height: 30px;
	}
	#la,
	#sd {
		width: 50%;
	}
	#la {
		float: left;
		margin-right: -30px;
		margin-top: -35px;
	}
	#sd {
		margin-right: -50px;
	}
}

/* GIFT CARDS PAGE */

#giftcards {
	margin: auto;
}

.click {
	display: block;
	width: 100px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 10px;
	background-color: #004a80;
	-webkit-box-shadow: 1px 1px 1px 1px #a6a6a6;
	box-shadow: 1px 1px 1px 1px #a6a6a6;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.click:hover {
	background-color: #a61f1b;
}

.click a {
	color: #ffffff;
}

.click a:visited {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

@media (min-width: 300px) {
	#giftcards {
		text-align: center;
		width: 85%;
		margin-top: 30px;
	}
}

@media (min-width: 900px) {
	#giftcards p {
		text-align: left;
	}
	#online,
	#traditional {
		width: 48%;
	}
	#online {
		float: left;
	}
	#traditional {
		float: right;
		clear: right;
	}
}

@media (min-width: 1200px) {
	#online .click {
		margin-top: 65px;
	}
}

/* FOOTER */

footer {
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px 0 20px 0;
	font-family: 'Lato', sans-serif;
	background-color: #004a80;
	clear: both;
}

footer p {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

/* MEAN MENU PLUGIN CSS */

/* when under viewport size, .mean-container is added to body */

.mean-container .mean-bar {
	width: 100%;
	background: #004a80;
	padding: 2px 0;
	min-height: 42px;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	color: #ffffff;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #ffffff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	width: 100%;
	background: #004a80;
	margin-top: 38px;
}

.mean-container .mean-nav ul li a {
	border-top: 1px solid #ffffff;
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
